.cardBlog{
  cursor: pointer;
  padding: 1.25rem;
  max-width: 350px;
  border: solid 1.5px rgba(0, 0, 0, .2);
  border-radius: .5rem;
  transition: 100ms ease-in;
}
.cardBlog:hover{
  border-color: rgba(48, 140, 85, 1);
  color:  rgba(48, 140, 85, 1);
}
.cardBlog h2{
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.cardBlog p{
  font-size: 1.125rem;
}